---
import {useState} from 'react';
import Layout from '../layouts/Layout.astro';
import CalendarOnlineConsultation from '../components/CalendarOnlineConsultation.astro'
import Blog from '../components/Blog.astro'
import BlogList from '../components/BlogList';
import BlogPost from '../components/BlogPost'

import { getCollection, getEntry } from 'astro:content';
const allBlogPosts = await getCollection('blog');
---

<script>
	const [testVar, setTestVar] = useState('hello');
</script>

<Layout>
	<div class={`w-fit mx-auto`}>
		<CalendarOnlineConsultation />
		<!-- <BlogPost activePost={} /> -->
		<BlogList blogPosts={allBlogPosts}/>
		<Blog />
	</div>
</Layout>