---
import Layout from '../layouts/Layout.astro';
import CalendarOnlineConsultation from '../components/CalendarOnlineConsultation.astro'

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
	<div class={`w-fit mx-auto`}>
		<CalendarOnlineConsultation />
		<a class={`not-blue bg-white text-red-500 text-xl p-2 m-2 font-bold not-[active]:drop-shadow-xl rounded cursor-pointer`}
		  href="/blog/chapter-1"
		>
			Campaign Blog
		</a>
	</div>
</Layout>