---
import {Content as BlogPost_1} from '../pages/Japan 1.mdx'
import '../styles/blog.css'
---

<div id="blog" class={`bg-yellow-50`}>
    <div class={`pb-10`}>
        <BlogPost_1 />
    </div>
</div>