<div id="gallery" class={`
  grid grid-cols-2 md:grid-cols-3 gap-5 p-4 md:p-20
  bg-gradient-to-r from-indigo-950 via-amber-700 to-cyan-400
`}>
  <div>
    <img
      class="h-auto max-w-full rounded-lg"
      src="https://pagedone.io/asset/uploads/1688025668.png"
      alt="Gallery image"
    />
  </div>
  <div>
    <img
      class="h-auto max-w-full rounded-lg"
      src="https://pagedone.io/asset/uploads/1688029344.png"
      alt="Gallery image"
    />
  </div>
  <div>
    <img
      class="h-auto max-w-full rounded-lg"
      src="https://pagedone.io/asset/uploads/1688029370.png"
      alt="Gallery image"
    />
  </div>
  <div>
    <img
      class="h-auto max-w-full rounded-lg"
      src="https://pagedone.io/asset/uploads/1688029384.png"
      alt="Gallery image"
    />
  </div>
  <div>
    <img
      class="h-auto max-w-full rounded-lg"
      src="https://pagedone.io/asset/uploads/1688029394.png"
      alt="Gallery image"
    />
  </div>
  <div>
    <img
      class="h-auto max-w-full rounded-lg"
      src="https://pagedone.io/asset/uploads/1688029408.png"
      alt="Gallery image"
    />
  </div>
  <div>
    <img
      class="h-auto max-w-full rounded-lg"
      src="https://pagedone.io/asset/uploads/1688029424.jpg"
      alt="Gallery image"
    />
  </div>
  <div>
    <img
      class="h-auto max-w-full rounded-lg"
      src="https://pagedone.io/asset/uploads/1688029434.png"
      alt="Gallery image"
    />
  </div>
  <div>
    <img
      class="h-auto max-w-full rounded-lg"
      src="https://pagedone.io/asset/uploads/1688029447.jpg"
      alt="Gallery image"
    />
  </div>
</div>