---
import '../styles/blog.css'
import Layout from "./Layout.astro";
import MajorStatsTable from '../components/characters/MajorStatsTable';
---

<Layout>
    <div id="blog">
        <slot />
    </div>
</Layout>