---
import '../styles/blog.css';
import Layout from './Layout.astro';

// Access frontmatter explicitly
const { frontmatter } = Astro.props;
const title = frontmatter?.title;
console.log('BlogLayout frontmatter:', frontmatter);
console.log('BlogLayout title:', title);
---

<Layout title={title || 'BlogLayout Fallback'}>
    <div id="blog">
        <slot />
    </div>
</Layout>